* {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: inherit;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header, footer {
  margin: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover, button:hover, .button:hover {
  text-decoration: dotted underline;
}

button:hover, .button:hover {
  cursor: pointer;
  color: blue;
}

input[type='file'] {
  display: none;
}

.nav {
  display: flex;
  list-style: none;
}

.nav * {
  line-height: 1;
}

.nav li, .disclaimer, .burger {
  position: relative;
  z-index: 1;
}

.nav a:not(:hover) {
  color: black;
}

.nav, .disclaimer {
  font-size: 0.875rem;
}

.nav li + li {
  padding-left: 8px;
  border-left: thin solid black;
  margin-left: 8px;
}

.nav button {
  display: flex;
}

.nav button .icon {
  font-size: inherit;
  margin-right: 4px;
}

.nav .button.-play:hover {
  color: green;
  text-decoration: none;
}

.nav .button.-play:hover span:not(.icon) {
  text-decoration: dotted underline;
}

.instructions {
  padding: 0.5rem 2rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: bold;
}

.menu {
  background: black;
  color: white;
  padding: 12px;
  position: absolute;
  border-radius: 4px;
  margin-top: 16px;
}

.menu::before {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-bottom-color: black;
  position: absolute;
  bottom: 100%;
}

.menu input {
  border: thin solid gray;
  border-radius: 4px;
  padding: 8px;
  outline: 0;
}

.menu input:focus {
  border-color: white;
}

.menu input:placeholder-shown + button {
  background: gray;
  pointer-events: none;
}

.menu button {
  background: white;
  color: black;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}
