* {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: Inter, sans-serif;
  font-weight: normal;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

header, footer {
  margin: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
}

nav a {
  position: relative;
  font-size: 0.875rem;
  z-index: 1;
}

nav a:hover {
  cursor: pointer;
  color: blue;
}

nav a + a {
  padding-left: 8px;
  border-left: thin solid black;
  margin-left: 8px;
}

.instructions {
  padding: 0.5rem 2rem;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}
